@import url("own.css");

body{
    height: 100%;
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
}
html{
    height: 100%;
    margin:0;
     padding:0;
}
.own-active{
   
 
    position: relative;
    display: flex;
    align-items: center;
    
    
}

.own-active::after{
    content: "";
    position: absolute;
    width: 4px;
    border-radius: 2px;
    height: 18px;
    background-color:#6610f2;
    left:-2px; 
}

#appName{
    font-weight: 700;
    font-size: 1.4rem;
}

.mini-text{
    font-size: 0.8rem;
}
.mini-btn{
    padding: 3px 10px;
}


.fixe-width{
    width:900px;
}

@media(max-width:512px){
    .fix-size{
        height: auto;
    }

}

.text-red{
    color:red;
}

.border-red{
    border-color: red
}

.text-green{
    color: #02b35d;;
}

.border-green{
    border-color: #02b35d;;
}

.border-orange{
        border-color: #ffc107;
}

.bg-orange-100{
    background-color:  #ffc10709;
}

.text-orange{
    color: #ffc107;
}

input,select{
    height: 50px;
}

.nav-link{
    color:var(--bs-secondary-color);
}

.nav-link:hover{
     color:var(--bs-secondary-color);

}

.nav-underline{
    border-bottom: 1px solid var( --bs-border-color-translucent);
}

.card:hover {
  transform: translateY(-2px); /* Soulève la carte */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05); /* Accentue l'ombre */
}
.card {
  transition: transform 0.5s ease;
}

.c-revenu:hover{
    background-color: var(--bs-tertiary-bg);
}



